$contactWidth: 300px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }
#main {
  .navbar {
    width: 232px;
    padding: 20px;
    height: 100vh;
  }

  .content {
    flex-grow: 1;
    color: #1a1a1a;
    // padding: 20px;
    /* Add any other styling for the main content area */
  }
}
.header{
  padding: 28px 32px;
}
.d-flex{
  display: flex;
}
.text-center{
  text-align: center;
}

.chat {
  display: flex;

  .list {
    width: $contactWidth;
    padding: 20px;
    // height: 100vh;
  }

  .chatContent {
    flex-grow: 1;
    color: #1a1a1a;
    padding: 20px;
    position: relative;
    height: 85vh;
    width: 800px;
    .chatHeader{
      background-color: #F8F8F8;
      padding: 9px;
    }
    .chat-body {
      background-color: #fff;
      width: 100%;
      border-right: 5px solid #e4e5e7;
      position: absolute;
      bottom: 0;
      .chat-messages {
        padding: 20px 26px;
        overflow: auto;
        margin-right: -5px;
        display: flex;
        flex-direction: column;
        height: 75vh;
      }  
      .chat-message {
        margin: 10px 0;
        align-self: flex-start;
        padding: 15px 20px;
        background: #f2f4f6;
        border-radius: 8px 8px 8px 0;
        max-width: 780px;
        position: relative;
        word-break: break-word;
      }  
      .my-chat-message {
        align-self: flex-end;
        border-radius: 8px 8px 0 8px;
        background-color: #E6FAF0;
      }
    }
    .chatFooter {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
.navAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 20px rgba(1, 29, 50, 0.5));
}
.text-muted {
  color: #7C8A95;
}

.contactCard {
  margin: 10px 0;
  padding: 10px;
  background: #F8F8F8;
  border-radius: 10px;
  cursor: pointer;
}
.messageInput{
  width: 85%;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  padding: 14px 62px 14px 23px;
}

.d-flex {
  display: flex;
}

.f-right {
  float: right;
}
.menuItem{
  display: block;
  margin-top: 30px;
  span{
    vertical-align: super;
  }
}
.f-left {
  float: left;
}

@for $i from 12 through 42 {
  .fs#{$i} {
    font-size: $i+px;
  }
}

@for $i from 2 through 20 {
  .mr#{$i} {
    margin-right: $i+px;
  }
}

@for $i from 2 through 20 {
  .ml#{$i} {
    margin-left: $i+px;
  }
}

@for $i from 2 through 20 {
  .mt#{$i} {
    margin-top: $i+px;
  }
}

@for $i from 2 through 20 {
  .mb#{$i} {
    margin-bottom: $i+px;
  }
}

.searchInput {
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  width: -webkit-fill-available;
  height: 20px;
  padding: 12px 14px;
  position: relative;
}
.sendBtn{
  background-color: #00CD69;
  border: 5%;
  padding: 7px 7px 2px;
  position: absolute;
  right: 44px;
  top: 5px;
  img{
    width: 20px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}